@use "../../foundation/variables";


.u-br_md {
    display: none;

    @include variables.media-md {
        display: inline;
    }
}

.u-br_sp {
    display: none;

    @include variables.media-sp {
        display: inline;
    }
}