@use "../../foundation/variables";

.p-reason {
    background-color: variables.$color-white-beige;
    border-radius: 24px;
    padding: 80px 100px;
    margin: 0 5vw;

    @include variables.media-sp {
        padding: 40px 24px;
    }

    .c-ttl {
        margin-top: 0;
    }
}

.p-reason__items {
    display: flex;
    gap: 20px;
    justify-content: center;

    @include variables.media-sp {

        flex-direction: column;
    }
}

.p-reason__item {
    background-color: variables.$color-white;
    border-radius: 16px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        font-size: 2.0rem;
        font-weight: 400;
        margin: 16px 0;
    }

    p {
        width: 100%;
        text-align: center;

        @include variables.media-sp {
            text-align: left;
        }
    }
}

.p-reason__item img {
    height: 50%;
    width: auto;
    max-height: 80px;
}