@use "../../foundation/variables";


.p-company {
    background-color: variables.$color-light-green;
    padding: 80px 200px;

    @include variables.media-tb {
        padding: 80px 40px;
    }

    @include variables.media-sp {
        padding: 40px 24px;
    }

    .c-ttl {
        margin-top: 0;
    }


}

.p-company__wrap {
    background-color: variables.$color-white;
    padding: 80px;
    border-radius: 24px;

    @include variables.media-sp {
        padding: 40px 24px;
    }

}

.p-company__table {
    font-size: 1.6rem;
    width: 100%;

    th,
    td {
        padding: 8px 0 4px 20px;

        @include variables.media-sp {
            padding: 8px 0;
        }
    }

    td {
        border-bottom: 1px solid variables.$color-light-beige;
        font-weight: 400;

        @include variables.media-sp {
            border-bottom: none;
        }
    }

    th {
        color: variables.$color-green;
        text-align: left;
        vertical-align: top;
        border-bottom: 1px solid variables.$color-green;
        width: 20%;
        min-width: 160px;
        font-weight: 500;

        @include variables.media-sp {
            min-width: auto;
        }
    }


    tr:last-child td,
    tr:last-child th {
        border-bottom: none;

    }
}


.p-company__table {
    tr:last-child th {
        @include variables.media-sp {
            border-bottom: 1px solid variables.$color-green;
        }
    }
}

.p-company__table th br {
    @include variables.media-sp {
        display: none;
    }
}


.p-company__table,
.p-company__table tbody,
.p-company__table tr,
.p-company__table th,
.p-company__table td {
    @include variables.media-sp {
        display: block;
        width: 100%;
    }
}


.p-company__table tr {
    @include variables.media-sp {
        padding: 4px 0;
    }
}